/* colors:
   light: #7ed56f
   medium: #55c57a
   dark: #28b485 
*/
*,
*::before,
 *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  /* background-position: center; */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
  text-align: center;
}
.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.header__logo{
    height: 3.5rem;
}

.heading-primary{
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}
.heading-primary--main{
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInleft 1s ease-out;
}
.heading-primary--sub{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation: moveInright 1s ease-out;
}
.header__text-box{
    /* background-color: blueviolet; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes moveInleft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInright{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, .btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    /* color: bisque; */
    transition: all .2s;
    position: relative;
}
.btn--white{
    background-color: white;
    color: black;
}
.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    /* color: blue; */
}
.btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    /* color:green; */
}
.btn::after{
    content: "";
    display: block;
    /* height: 100%;
    width: 100%; */
    background-color: white;
    border-radius: 10rem;
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: all .2s;
}
.btn:hover::after{
    /* transform: scale(1.4); */
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
@keyframes moveInBottom{
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.btn--animated{
    animation: moveInBottom ease-out 0.5s .75s;
    animation-fill-mode: backwards;/*will apply 0% before starting animation*/
}